:root {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 100%;
  font-weight:normal;
  color: #000;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.5;
  // smooth sailing to top of page
  scroll-behavior: smooth;
}

body { padding: 6rem 1rem 3rem; }

header {
  z-index: 100; // above vimeo iframes
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  padding-top: 1rem;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  a {
    color: black;
    text-decoration: none;
  }
  a:hover { text-decoration: underline; }
}

body#portfolio main p { text-align: center;}

article.project {
  // display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
  align-items: flex-start;
  &.doppelbild {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 1rem;
  }
  .vimeo-player {
    width: 100%;
    iframe { width: 100%; }
  }
  img.project-image { 
    margin: 0 auto 1rem 0; // oben links angeschlagen
    max-width: 100%;
    height: auto;
    // prevent theft
    user-select: none;
    user-drag: none;
    -webkit-touch-callout: none;
  }
  img.project-image + img.project-image { 
    margin-bottom: 0;
  }
  //video { max-width: 100%; }
}

footer {
  padding: 0 0 2rem;
  text-align: center;
  a {
    text-decoration: none;
    color: black;
    // text-transform: none;
  }
}

@media (min-width: 600px) {
  body { padding-top: 8rem; }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 2rem 0;
  }

  main.project-list {
    padding: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw 8vw;
  }

  article.project {
    flex-direction: row;
    // flex-wrap: wrap; // wozu?
    justify-content: flex-start;
    margin: 0;
    img.project-image.single,
    img.project-image.double { margin: 0; }
  }

  article.project {
    // Spezialfall: eigentlich wird das als Hintergrundbild eingesetzt,
    // weil sonst die Höhe nicht stimmt, die eigentlich mit
    // Doppelbildern übereinstimmen solle.
    // Aber wenn es das letzte Element
    &:nth-child(2n+1) { // gerade, sprich, linke Seite
      &.einzelbild:last-child { // nachher kommt nichts mehr
        img { display: block !important; }
        figure { background: none !important; }
      }
    }
  }
}
